html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(180deg, #0C0025 0%, #1D005C 100%), #D9D9D9;
  background: url(casino.png);
  backdrop-filter: blur(2px);
  background-size: cover;
  background-position: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  border-radius: 25px;
  padding: 10px;
  background: linear-gradient(180deg, #000D3A 0%, #013498 100%);
  background: rgba(0, 0, 0, 0.7);
  border: 5px solid #C6A700;
  color: white;
  display: flex;
  flex-direction: column;
  align-items:center;
}

article{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  width: 100%;
}

#user, #computer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 20px;
}

.name{
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
}

#userName, #computerName{
  background-color: #D9D9D9;
  text-align: center;
  color: black;
}

input{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
#result, #generateBtn{
  text-align: center;
  font-size: 20px;
  color: black;
}

#generateBtn:active{
  transform: scale(95%);
}

#result{
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

.modal{
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
#modal.hidden{
  opacity: 0;
}
#modal.hidden .modal-content{
  transform: translateY(200%);
  opacity: 0;
}
.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;  
  border: 1px solid #888;
  width: 80%;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

